@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background-color: #d3d3d3; */
    background-color: gray;
}

header{

    /* alto y ancho de la cabecera */
    width: 100%;
    height: 400px;

    /* origen de la imagen */
    background-image: url(../images/Mockup_iPhone.png);

    /* fijar la imagen, no se mueve con el scroll */
    background-attachment: fixed;

    /* imagenn centrada */
    background-position: center;

    /* imagen se adapta al tamaño del header*/
    background-size: cover;

    /* imagen en posicion relativa, se queda ahi */
    position: relative;

    /* Si algo se sale oculte lo que esta salido */
    overflow: hidden;
}

.textos{
    margin-top:10px;
    text-align: center;

}

.titulo{
    font-size: 90px;
    color: #5bbdeb;
}

.subtitulo{
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 40px;
    color: white;
}

#logo{
    /* display: block; */
    float:left;
    margin: 20px;
}

.container2{
    height: 140px;
}

#SeleccionMenu{
    width: 210px;
}

.menu{
    float: right;
    padding: 10px;
    /* altura del menu */
    line-height: 30px;
}

.menu ul{
    display: flex;
    /* quita puntos de la lista */
    list-style: none;
}

.menu a{
    display: block;
    padding: 0px 50px;
    /* quita subrayado de la lista */
    text-decoration: underline;
    color: black;
    /* El cambio es mas suave */
    transition: all 500ms ease;
}

.menu a:hover{
    /* Cuando pasa el mouse cambia el fondo y el color de la letra */
    background: #5bbdeb;
    color: #fff;
}

.menu .submenu{
    background: #5bbdeb;
    /*oculta submenu */
    display: none;
}

.menu .submenu li a{
     /* altura del submenu */
    line-height: 30px;
}

.menu ul li a:hover + ul, .menu .submenu:hover{
    display: block;
}

.sesgoabajo{
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 15vh 100vw;
    border-style: solid;
    border-color: transparent transparent gray transparent;
}

.buttons{
    margin: 10px 10px 50px 10px;
    text-align: center;
}

.boton1{
    padding: 10px;
    margin-right: 20px;
    text-decoration: none;
    display: inline-block;
    width: 120px;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;
    background-color:#f0975bc0;
    transition: all 500ms ease;
}

.boton1:hover{
    background-color:#5bbdeb;
}

.boton2{
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    width: 120px;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;
    background-color:#f0975bc0;
    transition: all 500ms ease;
}

.boton2:hover{
    background-color:#5bbdeb;
}


/* Registro html */
.container4{
    margin-top: 40px;
    text-align: center;
    color: white;
}

.form1{
    margin: 50px 200px 50px 200px;
    border: 1px solid #5bbdeb;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nickname{
    margin-bottom: 10px;
    /* text-align: center; */
}

.nickname label{
    float: left;
    margin-left: 325px;
}

#nickname-in{
    width: 300px;
    height: 25px;
}

.cont1{
    display: flex;

}


.nombres{
    margin-bottom: 10px;
    /* text-align: center; */
}

.nombres label{
    float: left;
    margin-left: 120px;
}

#nombre{
    width: 300px;
    height: 25px;
    margin-left: 120px;
}

.apellidos{
    margin-bottom: 10px;
    /* text-align: center; */
}

.apellidos label{
    float: left;
    margin-left: 100px;
}

#apellido{
    width: 300px;
    height: 25px;
    margin-left: 100px;
}

.cont2{
    display: flex;

}
.correos{
    margin-bottom: 10px;
    /* text-align: center; */
}

.correos label{
    float: left;
    margin-left: 120px;
}

#correo{
    width: 300px;
    height: 25px;
    margin-left: 120px;
}

.contrasenas{
    margin-bottom: 10px;
    /* text-align: center; */
}

.contrasenas label{
    float: left;
    margin-left: 100px;
}

#contrasena{
    width: 300px;
    height: 25px;
    margin-left: 100px;
}


.cont3{
    display: flex;
}

.telefonos{
    margin-bottom: 10px;
    /* text-align: center; */
}

.telefonos label{
    float: left;
    margin-left: 120px;
}

#telefono{
    width: 300px;
    height: 25px;
    margin-left: 120px;
}


.direcciones{
    margin-bottom: 10px;
    /* text-align: center; */
}

.direcciones label{
    float: left;
    margin-left: 100px;
}

#direccion{
    width: 300px;
    height: 25px;
    margin-left: 100px;
}

.cont4{
    display: flex;
}

.edades{
    margin-bottom: 10px;
    /* text-align: center; */
}

.edades label{
    float: left;
    margin-left: 270px;
}

#edad{
    width: 150px;
    height: 25px;
    margin-left: 270px;
}

.fechas{
    margin-bottom: 10px;
    /* text-align: center; */
}

.fechas label{
    float: left;
    margin-left: 100px;
}

#fecha{
    width: 150px;
    height: 25px;
    margin-left: 80px;
}


.fotos{
    margin-bottom: 10px;
    /* text-align: center; */
}

.fotos label{
    float: left;
    margin-left: 325px;
}

.enviar{
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    display: inline-block;
    width: 120px;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;
    background-color:#f0975bc0;
    transition: all 500ms ease;
}

.enviar:hover{
    background-color:#5bbdeb;
}

.footer{
    background-color: white;
    margin-top: 10px;
    padding: 20px;
}
