@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background-color: #d3d3d3; */
    /* background-color: gray; */
}

header{

    /* alto y ancho de la cabecera */
    width: 100%;
    height: 400px;

    /* origen de la imagen */
    background-image: url(../images/Mockup_iPhone.png);

    /* fijar la imagen, no se mueve con el scroll */
    background-attachment: fixed;

    /* imagenn centrada */
    background-position: center;

    /* imagen se adapta al tamaño del header*/
    background-size: cover;

    /* imagen en posicion relativa, se queda ahi */
    position: relative;

    /* Si algo se sale oculte lo que esta salido */
    overflow: hidden;
}

main {
    background-color: gray;
}


.textos{
    margin-top:10px;
    text-align: center;

}

.titulo{
    font-size: 90px;
    color: #5bbdeb;
}

.subtitulo{
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 40px;
    color: white;
}

#logo{
    /* display: block; */
    float:left;
    margin: 20px;
}


.container2{
    height: 140px;
}

#SeleccionMenu{
    width: 210px;
}

.menu{
    float: right;
    padding: 10px;
    /* altura del menu */
    line-height: 30px;
}

.menu ul{
    display: flex;
    /* quita puntos de la lista */
    list-style: none;
}

.menu a{
    display: block;
    padding: 0px 50px;
    /* quita subrayado de la lista */
    text-decoration: underline;
    color: black;
    /* El cambio es mas suave */
    transition: all 500ms ease;
}

.menu a:hover{
    /* Cuando pasa el mouse cambia el fondo y el color de la letra */
    background: #5bbdeb;
    color: #fff;
}

.menu .submenu{
    background: #5bbdeb;
    /*oculta submenu */
    display: none;
}

.menu .submenu li a{
     /* altura del submenu */
    line-height: 30px;
}

.menu ul li a:hover + ul, .menu .submenu:hover{
    display: block;
}

.sesgoabajo{
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 15vh 100vw;
    border-style: solid;
    border-color: transparent transparent gray transparent;
}

.buttons{
    margin: 10px 10px 50px 10px;
    text-align: center;
}

.boton1{
    padding: 10px;
    margin-right: 20px;
    text-decoration: none;
    display: inline-block;
    width: 120px;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;
    background-color:#f0975bc0;
    transition: all 500ms ease;
}

.boton1:hover{
    background-color:#5bbdeb;
}



/* Pagina de servicios */

.contenedor1{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px;
}

.sobre-nosotros{
    text-align: center;
    font-size: 40px;
    margin-bottom:15px;
    font-weight: 600;
    color: #5bbdeb;
}

.slogan{
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    margin-bottom:25px;
    color: white;
}

.parrafo{
    margin-bottom:15px;
    font-weight: 300;
    text-align: justify;
    line-height: 20px;
    color: white;
}


.galeria{
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    /* background-color: blue; */
    /* Se pueda mover  */
    position: relative;

    /* Organiza todas las imagenes en una sola imagen*/
    flex-wrap: wrap;
    /* padding-bottom: 0px; */
}

.imagenes{
    width: 20%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.imagenes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sesgoarriba{
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 15vh 100vw 0 0;
    border-style: solid;
    border-color: gray transparent transparent transparent;
}


.footer{
    background-color: white;
    margin-top: 10px;
    padding: 20px;
}
